.footer {
    background-color: #1a1a1a;
    color: white;
  }

.logoFooter {
    background-color: black;
    width: 20vh;
    border-radius: 50%;
    animation: rotateHorizontal 5s linear infinite;
}

a {
  color: white;
  text-decoration: none;
}

@keyframes rotateHorizontal {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}